services:
  zhura-server:
    image: ${DOCKER_USERNAME}/zhura-server:latest
    container_name: zhura-server
    expose:
      - "8000"
    volumes:
      - ./zhura.db:/app/zhura.db
    restart: always
    networks:
      - internal_network
    environment:
      - DB=${DB}
      - MODEL=x-ai/grok-4-fast
      - EMBEDDING_MODEL=qwen/qwen3-embedding-8b
      - COMPOSIO_MCP_URL=${COMPOSIO_MCP_URL}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - FRONTEND_URL=svarunid.github.io

  caddy:
    image: caddy:2.7-alpine
    container_name: caddy_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      # Mount the SSL certificate and key (read-only)
      - ./certs/cloudflare-origin.pem:/etc/caddy/certs/cloudflare-origin.pem:ro
      - ./certs/cloudflare-origin.key:/etc/caddy/certs/cloudflare-origin.key:ro
    restart: always
    networks:
      - internal_network

networks:
  internal_network:
