@import "tailwindcss";

@theme {
  --font-sans: 'Fira Sans', Inter, sans-serif;
  --font-mono: 'Fira Code', Inconsolata, monospace;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: var(--font-mono);
}